.form > .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input {
    margin-left: 100px;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #11122b;
    width: 550px;
    display: block;
    transition: all 0.3s;
}

.form input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid limegreen;
}

.form label {
    color: whitesmoke;
}

.form textarea {
    /* margin-top: 20px;
    margin-left: 100px; */
    width: 500px;
    height: 250px;
    border-radius: 5px;
    border: 3px solid #11122b;
    font-size: 1.5rem;
    font-family: inherit;
    color: color;
    padding-left: 100px;
    transition: all 0.3s;

}

.form textarea:focus {
    outline: none;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border: 3px solid limegreen;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #11122b;
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.form label {
    font-size: 1.2rem;
    font-weight: 700rem;
    margin-left: 2rem;
    margin-top: o.7rem;
    display: block;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}

.form input:focus + label, .form textarea:focus + label{
    opacity: 1;
    visibility: visible;
    transform: translateY(1rem);
}

.footer > .social-media-icons-wrapper {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}

.footer > .social-media-icons-wrapper i {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 2em;
    color: limegreen;
}

.footer > .social-media-icons-wrapper i:hover {
    position: fixed;
    padding: 0px 0px;
}
