body {
    font-family: 'Megrim', cursive;
    background-color: rgb(80, 80, 80);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.header-wrapper > .header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: black;
    color: white;
    height: 655px;
    border: 0px solid;
    margin-top: 0px;
    letter-spacing: 6px;
    font-size: 2em;
    border-bottom: 2px solid limegreen;
    
}

h1 {
    padding-top: 220px;
    padding-left: 200px;
}

.nav-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-wrapper > .nav-links {
    padding: 75px 150px;
    font-size: 1.70em;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.nav-links a {
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    outline: none;
}

a:hover {
    letter-spacing: 3px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: limegreen;
    background-color: rgba(0, 0, 0, 0.103);
}